/* Mobile-first */
.header-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 320px; /* Ограничиваем ширину для мобильных */
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 100%;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.lucide-location {
  width: 22px;
  height: 22px;
  margin-left: 20px;
  margin-right: 16px;
}

.search-bar input {
  flex-grow: 1;
  padding: 0;
  border: none;
  outline: none;
  max-width: 180px; /* Ограничиваем ширину поля ввода */
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #000;
}

.search-bar button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
  margin-right: 20px;
}

.city-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  max-height: 48px; /* высота для 1 строки */
  position: relative;
  transition: max-height 0.3s;
  margin-bottom: 4px;
}

.city-tags.expanded {
  flex-wrap: wrap;
}

.city-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(16, 33, 54, 0.5);
  border-radius: 20px;
  padding: 0px 12px;
  height: 28px;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  cursor: pointer;
}

.city-tag .close-tag {
  width: 12px;
  height: 12px;
  display: inline-block;
}

.city-tags-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 0 0 8px;
  display: flex;
  align-items: center;
  height: 32px; /* подберите под размер ваших тегов */
  margin-left: 4px;
  position: static; /* уберите absolute */
}

.arrow-left {
  width: 28px;
  height: 28px;
  background: rgba(16, 33, 54, 0.5);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.weather-display {
  max-width: 300px;
  color: var(--text-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Убираем лишние отступы, если есть */
.current-weather,
.forecast-tabs,
.date-time-info {
  margin: 0;
  padding: 0;
}

/* Отступ между current-weather и forecast-tabs */
.current-weather {
  width: 100%;
  min-width: 280px;
  padding: 32px 59px;
  border-radius: 34px;
  box-shadow: 0 5px 33px 0 rgba(16, 33, 54, 0.6);
  background: #102136;
  margin-bottom: 33px;

  /* Изменения для мобильной версии */
  display: flex;
  flex-direction: column; /* Основное направление - колонка */
  align-items: center; /* Центрируем по горизонтали */
  justify-content: center;
  position: relative; /* Для позиционирования weather-icon и location */
  padding-top: 80px; /* Увеличим отступ сверху, чтобы разместить иконку и город */
}

.current-weather .weather-icon {
  position: absolute;
  top: 10px; /* Размещаем сверху */
  left: 50%; /* По центру */
  transform: translateX(-50%); /* Точная центровка */
  margin-bottom: 0; /* Убираем лишний margin */
}

.current-weather .location {
  position: absolute;
  top: 55px; /* Размещаем под иконкой */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0; /* Убираем лишний margin */
  font-size: 16px; /* Возможно, уменьшим размер шрифта для компактности */
}

.current-weather .temperature {
  font-weight: 300;
  font-size: 90px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-right: 0; /* Уберем если есть */
  margin-bottom: 0; /* Уберем если есть */
}

.temperature-and-minmax {
  /* НОВЫЙ КОНТЕЙНЕР */
  display: flex; /* Делаем flex-контейнером */
  align-items: center; /* Выравниваем по центру по вертикали */
  justify-content: center; /* Центрируем по горизонтали */
  width: 100%;
}

.min-max {
  display: flex;
  flex-direction: row; /* Изменено на row, чтобы элементы были в одну строку */
  align-items: center;
  justify-content: center;
  gap: 8px; /* Уменьшаем зазор */
  margin-left: 20px; /* Отступ от температуры */
  padding-top: 0; /* Убираем отступ сверху */
}

.min-col,
.max-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.min-label,
.max-label {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #767d85;
  margin-bottom: 8px;
}

.min-temp,
.max-temp {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.minmax-divider {
  display: flex; /* Изменено на flex, чтобы разделитель был виден */
  align-items: center;
  height: 40px;
}

.forecast-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 18px;
  margin-bottom: 32px;
}

.tab-button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border-radius: 20px;
  padding: 0px 12px;
  width: 126px;
  height: 27px;
  cursor: pointer;
  font-family: var(--font-family);
  transition: background-color 0.3s ease;
}

.tab-button.active {
  background-color: var(--text-light);
  color: #000;
}

.date-time-info {
  border-radius: 34px;
  height: 184px;
  background: rgba(16, 33, 54, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 44px;
}

.date {
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 0.04em;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 61px;
  width: 194px; /* или нужная ширина */
  margin-bottom: 10px;
}

.date-number {
  position: relative;
  display: inline-block;
}

.date sup {
  position: absolute;
  top: 0;
  font-weight: 300;
  font-size: 25px;
  margin-left: 2px;
}

.day-of-week {
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-left: 30px;
}

.month-time-container {
  display: flex;
  width: 100%;
  justify-content: center; /* Распределяем элементы по горизонтали */
  align-items: center;
  position: absolute;
  top: 90px; /* Позиция ниже даты */
  left: 14.5px;
  padding: 0 25px; /* Отступы как у даты */
  box-sizing: border-box;
}

.month-day-divider {
  margin: 0 10px;
  height: 22px;
  display: flex;
  align-items: center;
}

.month {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.time {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.sun-times {
  display: flex;
  align-items: stretch; /* растягиваем дочерние элементы по высоте */
  justify-content: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  position: absolute;
  bottom: 25px;
  padding: 0 25px;
}

.sunrise,
.sunset {
  display: flex;
  align-items: center;
  height: 24px; /* одинаковая высота */
  padding: 0 8px;
  gap: 8px; /* Увеличиваем зазор между иконкой и текстом */
}

/* New style for the divider between sunrise and sunset */
.sun-time-divider {
  display: flex;
  align-items: center;
  height: 24px; /* совпадает с .sunrise/.sunset */
  padding: 0 4px;
}

.quote {
  max-width: 395px;
  font-style: italic;
  color: var(--text-light);
}

#quote-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-align: right;
}

.quote .author {
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  margin-top: 8px;
}

.romb {
  position: absolute;
  border: 4px solid var(--border-color);
  border-radius: 30px;
  width: 197px;
  height: 197px;
  transform: rotate(30deg);
  top: -50px; /* Adjust based on image */
  right: -50px; /* Adjust based on image */
  z-index: -1;
  display: none; /* Скрыто на мобильных по умолчанию */
}

/* Tablet styles */
@media screen and (min-width: 768px) {
  .date-time-info {
    min-width: 600px;
    margin: 0 auto;
    max-width: 680px;
    margin-bottom: 80px;
  }

  .header-search {
    max-width: 731px;
  }

  .search-bar {
    width: 100%;
  }

  .search-bar input {
    max-width: 660px;
  }

  .city-tags {
    max-width: 600px;
    margin-bottom: 106px;
  }

  .sun-times {
    font-size: 18px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .date {
    font-size: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: auto; /* Убираем фиксированную ширину */
  }

  .month-time-container {
    top: 110px;
    left: 52%;
    transform: translateX(-50%);
    width: auto;
  }
  .month,
  .time {
    font-size: 18px;
  }

  .weather-display {
    margin: 0 auto;
    max-width: 680px;
  }

  .current-weather {
    width: 100%;
    min-width: 600px;
  }

  .temperature-and-minmax {
    flex-direction: column; /* Изменяем на строку */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по горизонтали */
    width: 100%;
  }

  .min-max {
    margin-left: 0;
  }

  .quote {
    position: absolute;
    right: 0;
    margin-right: 32px;
  }

  #quote-text {
    font-size: 22px;
  }

  .romb {
    display: block; /* Показать на планшетах */
    top: 20px;
    right: 20px;
  }
}

/* Desktop styles */
@media screen and (min-width: 1280px) {
  body {
    min-height: 100vh;
  }

  .header-search {
    width: 100%;
    max-width: 822px;
    margin: 0 auto; /* Центрируем внутри weather-app */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .city-tags {
    align-self: flex-start;
    margin-left: 0;
  }

  .weather-display {
    position: absolute;
    top: 252px;
    right: -20px;
    left: auto;
    padding: 0;
  }

  .current-weather {
    border-radius: 34px 0 0 34px;
    box-shadow: 0 8px 43px 0 rgba(16, 33, 54, 0.6);
    width: 100%;
    min-width: 411px;
  }

  .forecast-tabs {
    margin-right: 16px;
  }

  .tab-button {
    width: 182px;
  }

  .date-time-info {
    border-radius: 0 34px 0 0;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    height: 264px;
    width: 624px;
  }

  .date {
    font-size: 90px;
    left: 16px;
    top: 100px;
    transform: translateY(-50%);
    margin-bottom: 16px;
  }

  .day-of-week {
    font-size: 90px;
  }

  .month-time-container {
    top: 178px;
    left: 10px;
    transform: translateY(-50%);
    padding-left: 20px;
  }

  .sun-times {
    margin-left: 136px;
    top: 168px;
    transform: translateX(-50%);
  }

  .quote {
    bottom: 50px;
  }

  .romb {
    top: 100px;
    right: 500px; /* Adjust as per desktop image */
  }
}
